---
layout: default
---

<section>
  <div>
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
  </div>
</section>

<div class="image-gallery">
  {% for photo in page.photos %}
  <div class="box">
    <div>
      <img
        src="{{ photo.image }}"
        alt="{{ photo.title }}"
        class="img-gallery"
      />
    </div>
    <div>
      <p style="font-style: italic">
        {{ photo.location }}
        <span style="float: right">{{ photo.date }}</span>
        <br />
        {{ photo.caption }}
      </p>
    </div>
  </div>
  {% endfor %}
</div>
